html {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    background: #dfdfdf;
    padding: 0.75rem 0.75rem;
    height: 100%;
    flex: 1 0 auto;
}

.sidebar h1 {
    margin: 0;
    text-align: center;
}

.sidebar h2 {
    text-align: center;
}

.navlinks {
    margin: 0;
    padding: 0.75rem;
    text-align: center;
}

.navlinks li {
    display: inline-block;
    list-style: none;
    padding: 0 1rem;
}

.sidebar a {
    font-size: 1rem;
}

.sidebar hr {
    border: 1px solid #ffffff;
}

#demo-holder {
    background: #c9c9c9;
    padding: 1rem;
}

#demo-list {
    padding: 0;
    margin: 0;
}

#demo-list li {
    list-style: none;
    padding: 0;
    margin: 0.25rem 0;
}

#demo-list li button {
    background: transparent;
    border: none;
}

#demo-list li button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#demo-iframe {
    width: 100%;
    height: 100%;
    border: none;
}